extends views/layout.pug

block content

	script(type='text/javascript', src='/static/js/download.js')
	
	div(class='screen')

	div(class='mast center')
		h1(id='title', value=.id)= .id

		ul(id='files')
