extends views/layout.pug

block content

	script(type='text/javascript', src='/static/js/download.js')
	
	div(class='screen')

	div(class='center text-left')
		div(id='id', value=.id)
			h5(id='name')
			img(src="", id='preview')
			div(class='row')
				div(class='col')
					label(for='size') file size:
					code(id='size')
					label(for='type') file type:
					code(id='type')
			div(class='row')
				div(class='col')
					label(for='uploaded') uploaded:
					code(id='uploaded')
					label(for='expires') expires:
					code(id='expires')
			button(id='download', type="button", class='outline', value="Download") Download