extends views/layout.pug

block content

	script(type='text/javascript', src='/static/js/download.js')
	
	div(class='screen')

	div(class='center text-left')
		div(id='id', style='width: 70%', value=.id)
			h5(id='name')
			img(src="", id='preview', width="100%")
			div(class='row')
				div(class='col')
					label(for='size') file size:
					code(id='size') ds
					label(for='type') file type:
					code(id='type') ds
			div(class='row')
				div(class='col')
					label(for='uploaded') uploaded:
					code(id='uploaded') ds
					label(for='expires') expires:
					code(id='expires') ds
			button(id='download', type="button", class='outline', value="Download") Download