extends views/layout.pug

block content
	
	=.title
	p.
		Drag and drop to upload.

	form(id='form', action="/api/v1/f/upload", enctype="multipart/form-data", method="POST")

		label(class='file-input outline')
			input(type="file", name="file") select files
		input(type="hidden", name="token", value=.token)
		input(type="submit", class='outline', id='submit', value='upload')
	br
	
	a(id='copy', href='javascript:void(0)')
		code(id='link') Your file link will appear here
		i(class='far fa-lg fa-copy')

	div(class='screen')