extends views/layout.pug

block content
	
	p.
		Drag and drop to upload.

	form(id='form', action="/api/v1/f/upload", enctype="multipart/form-data", method="POST")

		label(class='file-input outline')
			input(type="file", id='file-input', name="file") select file
		input(type="hidden", name="token", value=.token)
		input(type="submit", class='outline', id='submit', value='upload')
	br
	
	div(class='section display-hidden' id="link-c")
		input(type="text", id="link", value='Your file link will appear here', style='border: none;', class='text-center grey-light text-cerulean', readonly)
	
	div(id='progress-container', class='section text-left')
		ul(id='progress-list' file='' class='')
			li(id='progress-copy', class='display-hidden')
				label Upload Progress: 
				progress(class='progress-primary', value='0', max='100')
		

	div(class='screen')