extends views/layout.pug

block content
	
	p.
		Drag and drop to upload.

	form(id='form', action="/api/v1/f/upload", enctype="multipart/form-data", method="POST")

		label(class='file-input outline')
			input(type="file", name="file") select file
		input(type="hidden", name="token", value=.token)
		input(type="submit", class='outline', id='submit', value='upload')
	br
	
	//a(id='copy', href='javascript:void(0)')
	div( id="link-c")
		input(type="text", id="link", value='Your file link will appear here', style='border: none;', class='text-center grey-light cerulean-text', readonly)
		button(value='Copy orange') Copy
		

	div(class='screen')