extends views/layout.pug

block content

	h1= .pageTitle

	form(action="/api/v1/file/upload", enctype="multipart/form-data", method="POST")
		input(type="file", name="uploadfile")
		input(type="hidden", name="token", value=.token)
		input(type="submit", value="upload")