extends res/view/_partial/layout.pug

block content

	div(id='content', class='')
		div(id='id', value=.id, class="")
			img(src="", id='preview')
			video(id='preview-video', controls)
				| your browser does not support the video previews.
			audio(id='preview-audio', controls)
				source(id='preview-audio-source')
				| your browser does not support the audio previews.

			h4(id='name', class="color-grey-darkest")
			div(class='row')
				div(class='col')
					label(for='size') size:
						code(id='size')
				div(class='col')
					label(for='type') type:
					code(id='type')
				div(class='col')
					label(for='uploaded') uploaded:
						code(id='uploaded')
				div(class='col')
					label(for='expires') expires:
						code(id='expires')

			//- div(class='row')
			//- 	div(class='col')
			//- 		label(for='uploaded') uploaded:
			//- 		code(id='uploaded')
			//- 	div(class='col')
			//- 		label(for='expires') expires:
			//- 		code(id='expires')
			//- div(class='row')
			//- 	div(class='col')
			//- 		label(for='size') size:
			//- 		code(id='size')
			//- 	div(class='col')
			//- 		label(for='type') type:
			//- 		code(id='type')
			button(id='download', type="button", class='outline', value="Download") download

	script(type='text/javascript', src='/public/js/download.js')