extends res/view/_partial/layout.pug

block content

	script(type='text/javascript', src='/public/js/download.js')

	div(id='content', class='center section')
		div(id='id', value=.id, class="center")
			img(src="", id='preview')
			p(id='name')
			label(for='size') size:
			code(id='size')

			div(class='row')
				div(class='col')
					label(for='expires') expires:
					code(id='expires')
					| 
					label(for='uploaded') uploaded:
					code(id='uploaded')

			//- div(class='row')
			//- 	div(class='col')
			//- 		label(for='uploaded') uploaded:
			//- 		code(id='uploaded')
			//- 	div(class='col')
			//- 		label(for='expires') expires:
			//- 		code(id='expires')
			//- div(class='row')
			//- 	div(class='col')
			//- 		label(for='size') size:
			//- 		code(id='size')
			//- 	div(class='col')
			//- 		label(for='type') type:
			//- 		code(id='type')
			button(id='download', type="button", class='outline', value="Download") Download