html, body, mast {
	position: relative;

    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;

	position: relative;
	min-height: 100% !important;
}

li{
	list-style: none;
}

img{
	max-width: 40vw;
	max-height: 60vh;
}

.screen {
	border-radius: 0px;

	filter: blur(0px);

	visibility: hidden;
	display: none;

	position:fixed;

    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
	height: 100%;
	
	background:rgba(0, 0, 0, 0.6);
}

.active {
	visibility: visible;
	display: initial;
}