mixin withGo
	Generating Go html/template output.

doctype html
html
	head
		meta(name='viewport', content='width=device-width')

		title(id="title") GoBox
		//- primary
		meta(name="title", content="GoBox")
		meta(name="description", content="Free & Private File Hosting")
		link(rel='shortcut icon', type='x-icon' href='https://gobox.emawa.io/public/favicon.ico')

		link(rel="manifest", href="https://gobox.emawa.io/public/manifest.json")

		//- Open Graph / Facebook
		meta(name="og:type", content="website")
		meta(name="og:url", content="https://gobox.emawa.io")
		meta(name="og:title", content="GoBox")
		meta(name="og:description", content="Free, private and high speed file hosting")
		meta(name="og:image", content="https://gobox.emawa.io/public/img/gobox/logo-8.png")

		//- <!-- Twitter -->
		meta(name="twitter:card", content="summary_large_image")
		meta(name="twitter:url", content="https://gobox.emawa.io")
		meta(name="twitter:title", content="GoBox")
		meta(name="twitter:description", content="Free private, high speed file hosting")
		meta(name="twitter:image", content="https://gobox.emawa.io/public/img/gobox/logo-8.png")

		link(rel="apple-touch-icon", href="https://gobox.emawa.io/public/img/gobox/logo-8.png")
		meta(name="twitter:image", content="https://gobox.emawa.io/public/img/gobox/logo-8.png")

		//- local assets
		script(type='text/javascript', src='/public/js/jquery-3.4.1.min.js')
		script(type='text/javascript', src='/public/js/drag_drop_upload.js')
		
		link(rel='stylesheet', type='text/css', href='/public/css/style.css')
		//- link(rel='stylesheet', type='text/css', href='/public/css/ashleycss-dark.min.css')
		link(rel='shortcut icon', type='x-icon' href='/public/favicon.ico')

		//- ashleycss
		link(rel='stylesheet', type='text/css', href='https://unpkg.com/ashleycss')
		
		//- Font Awesome
		link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.4.1/css/all.css',
			integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz", crossorigin="anonymous")

	body(class='bg-cream flex-align-center flex-direction-vertical center')

		a(href='/' id="logo") #[img(src="/public/img/gobox/logo-1.png", class="")]

		div(id="mast", class='container text-center')
			//- a(href='/') #[h1(class='color-orange') GoBox] #[img(src="/public/img/gobox/logo-1.png", id='')]

			block content

		footer
			small
				|By Elias Mawa
				|&nbsp;
				|#[i(class="fa fa-heart")]