:go:func Index(url string, youAreUsingJade bool)

mixin for(golang)
	Generating Go html/template output.

doctype html
html
	head
		meta(name='viewport', content='width=device-width')
		meta(name='theme-color', content='#f3eef0')
		link(rel='shortcut icon', type='image/x-icon' href='/favicon.ico')
		
		if(.data)
			title(id="title") GoBox: #{.data.name}
			//- primary
			meta(name="title", content=.data.title, id="title")
			meta(name="description", content=.data.description, id="desc")

			link(rel="manifest", href="/manifest.json")

			//- Open Graph / Facebook
			//- - var url = .data.url
			meta(name="og:type", content="website")
			meta(name="og:url", content=.data.url)
			meta(name="og:title", content=.data.name, id="og-title")
			meta(name="og:description", content=.data.description)
			meta(name="og:image", content=.data.img, id="og-img")
			
			//- div #{.data.img}

			//- <!-- Twitter -->
			if(.large)
				meta(name="twitter:card", content="summary_large_image")
			else
				meta(name="twitter:card", content="summary_image")
				
			meta(name="twitter:url", content=.data.url)
			meta(name="twitter:title", content=.data.title, id="tw-title")
			meta(name="twitter:description", content=.data.description)
			meta(name="twitter:image", content=.data.img, id="tw-img")

			link(rel="apple-touch-icon", href="/public/favicon.ico", id="ap-img")
		else			
			title(id="title") GoBox
			//- primary
			meta(name="title", content="GoBox", id="title")
			meta(name="description", content="Free, private and high speed file hosting from gobox.dev", id="desc")

			link(rel="manifest", href="/manifest.json")

			//- Open Graph / Facebook
			meta(name="og:type", content="website")
			meta(name="og:url", content="https://gobox.emawa.io")
			meta(name="og:title", content="GoBox", id="og-title")
			meta(name="og:description", content="Free, private and high speed file hosting from gobox.dev", id="og-desc")
			meta(name="og:image", content="https://gobox.emawa.io/public/img/gobox/logo-15.png", id="og-img")

			//- <!-- Twitter -->
			meta(name="twitter:card", content="summary_image")
			meta(name="twitter:url", content="https://gobox.emawa.io")
			meta(name="twitter:title", content="GoBox", id="tw-title")
			meta(name="twitter:description", content="Free, private and high speed file hosting from gobox.dev", id="tw-desc")
			meta(name="twitter:image", content="https://gobox.emawa.io/public/img/gobox/logo-15.png", id="tw-img")

			link(rel="apple-touch-icon", href="https://gobox.emawa.io/public/img/gobox/logo-15.png", id="ap-img")

		//- local assets
		script(type='text/javascript', src='https://cdn.jsdelivr.net/npm/js-cookie@beta/dist/js.cookie.min.js')
		script(type='text/javascript', src='/public/js/jquery-3.4.1.min.js')
		script(type='text/javascript', src='/public/js/drag_drop_upload.js')
		script(type='text/javascript', src='/public/js/theme.js')
		
		link(rel='stylesheet', type='text/css', href='/public/css/style.css')
		//- link(rel='stylesheet', type='text/css', href='/public/css/ashleycss-dark.min.css')
		link(rel='shortcut icon', type='x-icon' href='/public/favicon.ico')

		//- ashleycss
		//- link(rel='stylesheet', type='text/css', href='https://cdn.jsdelivr.net/npm/ashleycss@4.1.2/dist/ashleycss-sakura.min.css')
		//- link(rel='stylesheet', type='text/css', href='https://cdn.jsdelivr.net/npm/ashleycss@4.1.2/dist/ashleycss-royal.min.css')
		link(rel='stylesheet', type='text/css', href='https://cdn.jsdelivr.net/npm/ashleycss@4.1.51/dist/themes/ashleycss-sakura.min.css')
		link(id='style', rel='stylesheet', type='text/css', href='https://cdn.jsdelivr.net/npm/ashleycss@4.1.51/dist/themes/ashleycss-dark.min.css')
		//- link(rel='stylesheet', type='text/css', href='https://unpkg.com/ashleycss@4.1.1')
		
		//- Font Awesome
		link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.4.1/css/all.css',
			integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz", crossorigin="anonymous")

		//- <!-- Global site tag (gtag.js) - Google Analytics -->
		script(src="https://www.googletagmanager.com/gtag/js?id=G-6E47Z8R37P", async)
		script.
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'G-6E47Z8R37P');

	body(class='center')
		a(href='/' id="logo", class="") #[img(src="/public/img/gobox/logo-1.png", class="")]
		div(id="mast", class='container text-center')
			//- a(href='/') #[h1(class='color-orange') GoBox] #[img(src="/public/img/gobox/logo-1.png", id='')]

			block content

	footer
		small
			|With
			|&nbsp;
			|#[i(class="fas fa-sm fa-heart color-red")]
			|&nbsp;
			| from Elias Mawa
		small #[a(href='javascript:(0)', id='theme') lights off!]
